## Title: LibDynamicMail
## Author: Saranicole1980
## Version: ${ADDON_VERSION}
## APIVersion: 101048 101049
## AddOnVersion: 1
## Description: Dynamic mail templates
## OptionalDependsOn: LibTextFormat
## IsLibrary: true

core/TemplateManager.lua

lang/en.lua
lang/$(language).lua

mail/Helpers.lua
mail/Inbox.lua
mail/Send.lua

ui/UI.lua
ui/UI.xml

LibDynamicMail.lua
